<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_FILE" value="${LOG_FILE:-${LOG_PATH:-${LOG_TEMP:-${java.io.tmpdir:-/tmp}}}/spring.log}"/>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <include resource="org/springframework/boot/logging/logback/file-appender.xml" />
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <!-- Logstash destination -->
    <springProperty name="destination" source="app.logger.destination"/>
    <springProperty name="destination2" source="app.logger.destination2"/>
    <springProperty name="stdoutAppender" source="app.logger.stdoutAppender"/>
    <springProperty name="profiles" source="spring.profiles.active"/>
    <springProperty name="orgnr" source="difi.move.org.number"/>
    <springProperty name="enableLogstash" source="app.logger.enableLogstash"/>

    <if condition='property("enableLogstash").contains("true")'>
        <then>
            <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                <destination>${destination}</destination>
                <droppedWarnFrequency>5</droppedWarnFrequency>
                <!-- encoder is required -->
                <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                    <customFields>{"appname":"@project.artifactId@","HOSTNAME":"${HOSTNAME}","buildinfo.version":"@project.version@","buildinfo.lastcommit":"@git.commit.id@","orgnr":"${orgnr}"}</customFields>
                    <fieldNames>
                        <!-- Ignore message and stackTrace field here due to possible sensitive data (personal identity number), replaced in pattern below. -->
                        <message>[ignore]</message>
                        <stackTrace>[ignore]</stackTrace>
                    </fieldNames>
                    <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                        <pattern>
                            {
                            "message": "%replace(%msg){'[0-9]{11}','**********'}",
                            "stack_trace": "%replace(%ex{full}){'[0-9]{11}','**********'}"
                            }
                        </pattern>
                    </provider>
                </encoder>
            </appender>
            <if condition='isDefined("destination2")'>
                <then>
                    <appender name="stash2" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
                        <destination>${destination2}</destination>
                        <droppedWarnFrequency>5</droppedWarnFrequency>
                        <!-- encoder is required -->
                        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                            <customFields>{"appname":"@project.artifactId@","HOSTNAME":"${HOSTNAME}","buildinfo.version":"@project.version@","buildinfo.lastcommit":"@git.commit.id@","orgnr":"${orgnr}"}</customFields>
                            <fieldNames>
                                <!-- Ignore message and stackTrace field here due to possible sensitive data (personal identity number), replaced in pattern below. -->
                                <message>[ignore]</message>
                                <stackTrace>[ignore]</stackTrace>
                            </fieldNames>
                            <provider class="net.logstash.logback.composite.loggingevent.LoggingEventPatternJsonProvider">
                                <pattern>
                                    {
                                    "message": "%replace(%msg){'[0-9]{11}','**********'}",
                                    "stack_trace": "%replace(%ex{full}){'[0-9]{11}','**********'}"
                                    }
                                </pattern>
                            </provider>
                        </encoder>
                    </appender>
                </then>
            </if>
        </then>
    </if>

    <appender name="JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <timestamp/>
                <logstashMarkers/>
                <pattern>
                    <pattern>
                        {
                        "level": "%level",
                        "message": "%replace(%msg){'[0-9]{11}','**********'}",
                        "stack_trace": "%replace(%ex{full}){'[0-9]{11}','**********'}",
                        "class": "%class",
                        "method": "%method",
                        "appname": "@project.artifactId@"
                        }
                    </pattern>
                </pattern>
            </providers>
        </encoder>
    </appender>

    <if condition='property("enableLogstash").contains("true")'>
        <!-- <if> elements cannot be nested within an <appender>, <logger> or <root> element -->
        <then>
            <if condition='isDefined("destination2")'>
                <then>
                    <root level="INFO">
                        <appender-ref ref="${stdoutAppender:-CONSOLE}"/>
                        <appender-ref ref="FILE"/>
                        <appender-ref ref="stash"/>
                        <appender-ref ref="stash2"/>
                    </root>
                </then>
                <else>
                    <root level="INFO">
                        <appender-ref ref="${stdoutAppender:-CONSOLE}"/>
                        <appender-ref ref="FILE"/>
                        <appender-ref ref="stash"/>
                    </root>
                </else>
            </if>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="${stdoutAppender:-CONSOLE}"/>
                <appender-ref ref="FILE"/>
            </root>
        </else>
    </if>

</configuration>
