<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <!-- Logstash destination -->
    <springProperty name="destination" source="app.logger.destination"/>
    <springProperty name="profiles" source="app.logger.destination"/>
    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <droppedWarnFrequency>5</droppedWarnFrequency>
        <destination>${destination}</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"appname":"${project.artifactId}","buildinfo.version":"${project.version}","buildinfo.lastcommit":"${buildNumber}"}</customFields>
        </encoder>
        <if condition="property('spring.profiles.active').contains('docker')">
            <then>
                <ssl>
                    <trustStore>
                        <location>classpath:logstash.jks</location>
                        <password>logstash</password>
                    </trustStore>
                </ssl>
            </then>
        </if>
    </appender>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="stash"/>
    </root>

</configuration>
