*.jks
*.cer
*.crt
*.orig

pom.xml.versionsBackup

*.orig
*.class
*.log
/**/*.iml
/**/target
/**/generated-sources
/**/generated-sources/jaxb
/**/generated-sources/wsimport
/noarkexchange/src/main/java/no/difi/meldingsutveksling/noarkexchange/schema/receive/receive_ReceivePortImpl.java
/integrasjonspunkt-logs
/integrasjonspunkt/integrasjonspunkt-logs/
/integrasjonspunkt-logs/application.log
/integrasjonspunkt/build/certificate
/integrasjonspunkt/activemq-data/
/integrasjonspunkt/node_modules/
/integrasjonspunkt/upload/
/integrasjonspunkt/messages/
/messages/
/integrasjonspunkt/bootstrap.properties
/integrasjonspunkt/receipt.mv.db
/integrasjonspunkt/receipt.trace.db
/integrasjonspunkt/integrasjonspunkt.mv.db
/integrasjonspunkt/integrasjonspunkt.trace.db
*.db

*/activemq-data/*
/activemq-data/*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Created by https://www.gitignore.io

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

/*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the follwing:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/
.run/
.java-version
# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml

# Local properties
integrasjonspunkt-local.properties
integrasjonspunkt-local.properties.bak
integrasjonspunkt/application.properties

# Stuff generated by tests and/or when running
queue/*.queue
integrasjonspunkt-logs/*.log

# Overrides (files for tests)
!/fiks-meldingsformidler/src/test/resources/somdalen.jks
!/integrasjonspunkt/src/test/resources/no/difi/meldingsutveksling/cucumber/cucumber.jks

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache