*.jks
*.cer
*.crt
*.orig
*.class
.run

# Maven
/**/target
pom.xml.versionsBackup

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# =========================
# Operating System Files
# =========================

# OSX
# =========================
.DS_Store
.AppleDouble
.LSOverride

# Icon must ends with two \r.
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm

*.iml

## Directory-based project format:
.idea/

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
out/
.run/
.java-version

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml

# Integrasjonspunkt runtime files
/activemq-data
/integrasjonspunkt-logs
/integrasjonspunkt/integrasjonspunkt-logs
/messages
*.log
*.db

# Integrasjonspunkt local properties
integrasjonspunkt-local.properties
integrasjonspunkt-local.properties.bak
integrasjonspunkt-local-copy.properties
integrasjonspunkt-local-*-only.properties

# Overrides (files for tests)
!/fiks-meldingsformidler/src/test/resources/somdalen.jks
!/integrasjonspunkt/src/test/resources/no/difi/meldingsutveksling/cucumber/cucumber.jks

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
