<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Integrasjonspunkt 4.0</title>
    <style>
        #content {
            position: relative;
        }
        #content img {
            position: absolute;
            top: 0px;
            right: 0px;
            width: 200px;
        }
    </style>
</head>
<body>

<div id="content">
    <img th:src="@{logo.png}" class="ribbon" alt="Nice Logo" />
    <div>some text...</div>
</div>

<h1>Integrasjonspunktet</h1>
<ul>
    <li><a th:href="@{/status}">System Status</a></li>
    <li><a th:href="@{/conversations}">Conversations</a></li>
    <li><a href="/api/statuses">Conversations (JSON)</a></li>
</ul>

<h1>Observability</h1>
<ul>
    <li><a href="/manage/info">Info about this build</a></li>
    <li><a href="/manage/prometheus">Prometheus metrics</a></li>
    <li><a href="/manage/logfile">Logfile</a></li>
    <li><a href="/manage/health">Health</a></li>
    <li><a href="/manage/health/liveness">Liveness</a></li>
    <li><a href="/manage/health/readiness">Readiness</a></li>
</ul>

<h1>Internals</h1>
<ul>
    <li><a href="/manage">Management Endpoints</a></li>
    <li><a href="/manage/scheduledtasks">Scheduledtasks</a></li>
    <li><a href="/manage/caches">Caches</a></li>
    <li><a href="/manage/metrics">Metrics</a></li>
    <li><a href="/manage/env">Environment</a></li>
    <li><a href="/manage/configprops">Configprops</a></li>
    <li><a href="/manage/mappings">Mappings</a></li>
    <li><a href="/manage/beans">Beans</a></li>
    <li><a href="/manage/conditions">Conditions</a></li>
</ul>

</body>
</html>
