*.log
eventLogDB/

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
knutepunkt/src/main/java/no/difi/meldingsutveksling/noarkexchange/schema/noarkExchange_NoarkExchangePortImpl.java
knutepunkt/src/test/resources/sonar-project.properties