<!doctype html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Status</title>
    <style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4);
        transition: 0.3s;
        border-radius: 5px;
    }

    /* On mouse-over, add a deeper shadow */
    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.6);
    }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
    </style>
</head>
<body>

<h1>Status (just prototyping, random information below)</h1>

<th:block th:each="s : ${status}">
    <div class="card">
        <!--
        <h2 th:unless="${s.service()}">DPO er disabled 🤦‍♂️</h2>
        <div th:if="${s.dpo()}" class="container">
        -->
        <div class="container">
            <h2 th:text="${s.service()}">unknown</h2>
            <p>[[${s.config()}]] has [[${s.errors()}]] errors</p>
        </div>
    </div>
</th:block>

</body>
</html>
