<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="3.0">
    <listener>
        <listener-class>
            com.sun.xml.ws.transport.http.servlet.WSServletContextListener
        </listener-class>
    </listener>
    <servlet>
        <servlet-name>wsServlet</servlet-name>
        <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>wsServlet</servlet-name>
        <url-pattern>/receipt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wsServlet</servlet-name>
        <url-pattern>/messages</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>wsServlet</servlet-name>
        <url-pattern>/streamedmessage</url-pattern>
    </servlet-mapping>

</web-app>