<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <statusListener class="ch.qos.logback.core.status.OnConsoleStatusListener" />
    <!-- Logstash destination -->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="no.difi.asic.AbstractAsicWriter">
        <level value="DEBUG"/>
    </logger>

    <logger name="no.difi.asic.AsicOutputStream">
        <level value="DEBUG"/>
    </logger>

    <logger name="no.difi.asic.SignatureHelper">
        <level value="DEBUG"/>
    </logger>

    <logger name="no.difi.meldingsutveksling.dokumentpakking.service.CreateAsice">
        <level value="DEBUG"/>
    </logger>

</configuration>
